<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {

/*
* Clamped-width.
* Usage:
*  <div data-clampedwidth=".myParent">This long content will force clamped width</div>
*
* Author: LV
*/
$('[data-clampedwidth]').each(function () {
    var elem = $(this);
    var parentPanel = elem.data('clampedwidth');
    var resizeFn = function () {
        var sideBarNavWidth = $(parentPanel).width() - parseInt(elem.css('paddingLeft')) - parseInt(elem.css('paddingRight')) - parseInt(elem.css('marginLeft')) - parseInt(elem.css('marginRight')) - parseInt(elem.css('borderLeftWidth')) - parseInt(elem.css('borderRightWidth'));
        elem.css('width', sideBarNavWidth);
    };

    resizeFn();
    $(window).resize(resizeFn);
});

});
</script>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <h1>Workshops</h1>
    <p>
      optional blurb here?
    </p>
  </div>
  <div class="col-md-6 text-right">
    <% if is_admin? %>
    <br />
    <br />
    <%= link_to "Create new workshop listing", new_workshop_path, class: "btn btn-primary btn-lg"%>
    <% end %>
  </div>
</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-3 myParent list-group" role="navigation" id="mySidenav">
      <ul data-spy="affix" data-offset-top="270" class="nav nav-pills nav-stacked" data-clampedwidth=".myParent">
        <% @workshops.each do |workshop| %>
          <li role="presentation"><a href="#<%= workshop.title.gsub(/\s/, '') %>" class="list-group-item"><%= workshop.title %></a></li>
        <% end %>
        <li role="presentation"><a href="#" class="list-group-item"><b><i class="glyphicon glyphicon-chevron-up"></i>&nbsp;Back to Top</b></a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <%= render partial: "workshop", collection: @workshops %>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
