<div class="center">
  <div class="jumbotron">
    <h1>Martin Luther King Jr. Day - 2015</h1>
    <h3 class="grayed">Phillips Academy</h3>
    <hr />
    <p>
      BLURB GOES HERE
    </p>
  </div>
</div>
<br />
<div class="text-center">
  <%= link_to "watch the video", mlk_video_path, class: "btn btn-lg btn-primary" %>
  &nbsp;&nbsp;&nbsp;
  <%= link_to "browse the workshops", workshops_path, class: "btn btn-lg btn-primary" %>
</div>
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div class="well well-lg text-center">
        <h2>Art Submissions</h2>
        <hr />
        <div id="owl-carousel">
          <% Art.all.each do |a| %>
            <%= render partial: 'carousel_art', locals: { art: a } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
