<div class="center">
  <div class="jumbotron">
    <h2>Martin Luther King Jr. Day - 2015</h2>
    <h4 class="grayed">Phillips Academy</h4>
    <hr />
    <br />
    <h4>Looking Back 26 Years: The MLK Jr. Day Protest on the steps of Sam Phil</h4>
    <p>
      Keynote speaker Dr. Brian Gittens ’89 will reflect on the personal journey,motivations, and inspirations that compelled him to protest Andover’s limited recognition of Martin Luther King Jr. Day as a national holiday—and to lead dozens of student sympathizers in a boycott of classes that day. Gittens will discuss the importance of developing a personal value system and then using it to act with confidence and conviction. He will challenge the audience to examine their own values and the strength of their convictions as they navigate the volatile wake of recent social injustices.
    </p>
  </div>
</div>
<br />
<div class="text-center">
  <%= link_to "watch the video", mlk_video_path, class: "btn btn-lg btn-primary" %>
  &nbsp;&nbsp;&nbsp;
  <%= link_to "browse the workshops", workshops_path, class: "btn btn-lg btn-primary" %>
</div>
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div class="well well-lg text-center">
        <h2>Art Submissions</h2>
        <hr />
        <div id="owl-carousel">
          <% Art.all.each do |a| %>
            <%= render partial: 'carousel_art', locals: { art: a } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
