<div class="well well-lg">
  <script language="JavaScript">
    cookie_name = "AUTH";
    var YouEntered;

    function putCookie() {
      YouEntered=document.cf.cfd.value;
      document.cookie=cookie_name+"="+YouEntered+";";
      window.location = "";
      return false;
    }
  </script>

  <form NAME="cf" onsubmit="return putCookie()">
    Please input the auth token provided by the administrator:<br />
    <hr />
    <input type="text" name="cfd" size="20"> &nbsp; <input type="button" value="submit password" class="btn btn-primary" onClick="return putCookie()">
  </form>
</div>
