<script language="JavaScript">
  cookie_name = "AUTH";
  var YouEntered;

  function putCookie() {
    YouEntered=document.cf.cfd.value;
    document.cookie=cookie_name+"="+YouEntered+";";
    window.location = "";
  }
</script>

<form NAME="cf">
  Input the auth token provided by the administrator: <input type="text" name="cfd" size="20">
  <input type="button" value="submit password" onClick="putCookie()">
</form>
