/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_self
 *= require_tree .
 *= require owl.carousel
 *= require owl.theme
 */

/* bootstrap */
@import "bootstrap-sprockets";
@import "bootstrap";

@import "jquery-ui";

/* the image gallery */
@import "bootstrap/image-gallery";


h3.grayed, p.grayed {
  color: #707070 !important;
}

/* footer stuff */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#body {
  padding-bottom: 120;   /* Height of the footer */
}
#footer {
  bottom: 0;
  width: 100%;
  height: 120;   /* Height of the footer */
  background-color: #f3f3f3;
  .list-sm {
    font-size: 8px;
  }
}

#page {
   height: 100%;
}
