<br />
<div style="background-color: #f3f3f3;">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-10 text-right">
        <p>Phillips Academy</p>
        <p><a href="mailto:camd@andover.edu">Contact CAMD</a></p>
        <p>Site design by Clifford Ressel</p>
      </div>
    </div>
  </div>
</div>
