<br />
<div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-right">
        <br />
        <p>Phillips Academy</p>
        <p>Questions or comments?<br />
        Contact <a href="mailto:lgriffith@andover.edu">LGriffith@andover.edu</a> and <a href="mailto:mjlewis@andover.edu">MJLewis@andover.edu</a>.</p>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <h6>MLK Planning Comittee</h6>
        <ul class="list-sm">
          <li>Josephine Pandji</li>
          <li>Will Reid</li>
          <li>Clifford Ressel</li>
          <li>Margot Shang</li>
          <li>Ian Tan</li>
        </ul>
      </div>
    </div>
  </div>
  <br />
</div>
